* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

.wrapper{
    max-width: 1150px;
    margin: 0 auto;
}

#top-nav,
#second-nav{
    padding: 20px 40px;
    margin:0 auto;
}

#top-nav ul,
#second-nav ul,
section#learn_rugby nav ul,
aside#games nav ul{
    display: flex;
    justify-content: space-around;
}

#top-nav ul li,
#second-nav ul{
    text-align: center;
}

h1{
 padding-bottom: 20px;
 font-size: 3em; 
}

h2{
    font-size: 2em;
    padding-bottom: 20px;
}

h3{
    font-size: 1.5em;
    padding-bottom: 20px;
}

section#welcome,
section#teams,
section#learn_rugby,
section.game-wrap,
aside#contact,
footer{
    padding: 40px;
}

section#welcome{
    margin-top: 20px;
    height: 50vh;
    background:url(../img/rugby_cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

section#welcome h1{
    color: #fff;
}

section#welcome article{
    background: white;
    padding: 20px;
    width: 800px;
}

section#teams h2{
    padding-top: 20px;
}

section#teams .teams-top img{
    width: 100%;
}

section#teams .about{
    padding: 20px 0;
}

section#teams #team-members-wrapper{
    position: relative;
}

section#teams #team-members-wrapper button.prev,
section#teams #team-members-wrapper button.next{
    border: none;
    cursor: pointer;
    position:absolute;
    width: 48px;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.3);
    top: 0
}

section#teams #team-members-wrapper button:hover{
    background-color:  rgba(255, 0, 0, 0.6);
}

section#teams #team-members-wrapper a{
    font-size: 36px;
    position: absolute;
    top: calc(50% - 36px);
    left: 15px;
}

section#teams #team-members-wrapper button.prev{
    left: 0px;
}

section#teams #team-members-wrapper button.next{
    right: 0px;
}

section#teams #team-members-wrapper .teams-dots{
    margin: 0 auto;
    text-align: center;
}

section#teams #team-members-wrapper button.dot {
    cursor: pointer;
    border: none;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(255, 0, 0, 0.3);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

section#teams #team-members-wrapper button.dot:hover,
section#teams #team-members-wrapper button.active{
    background-color: rgba(255, 0, 0);
}

section#teams figure#team-members,
section#team-details figure#news,
section.details,
section.game_card{
    display: flex;
    padding-bottom: 20px;
}

section#teams figure#team-members{
    width: 100%;
    overflow: hidden;
}

section#teams figure#team-members figure{
    display: flex;
    flex-direction: column;
    width: 200px;
}

section#teams figure img{
    padding-right: 20px;
    display: block;
    margin: 0 auto;
    width: 120px;
}

section#teams figure figcaption{
    padding-right: 20px;
}

section#team-details{
    padding: 20px;
    background: #fff;
    border: 1px black solid;
}

section#team-details section.bio{
    min-width: 500px;
    width: 40%;
}

section#team-details section.bio table{
    margin: 10px auto;
    width: 400px;
}

section#team-details section.bio table,
section#team-details section.bio th,
section#team-details section.bio td{
    border: #000 1px solid;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

section#team-details article{
    align-self: center;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
}

.hidden{
    display:none;
}

section#team-details{
    margin: 25% auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    position: relative;
    transition: all 5s ease;
}

section#team-details .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

section#team-details .close:hover {
    color: #06D85F;
}

section#learn_rugby nav,
aside#games nav{
    text-align: center;
}

section#learn_rugby nav ul li,
aside#games nav ul li{
    cursor: pointer;
    flex-grow: 1;
    padding: 20px 0;
    background-color: rgba(255, 0, 0, 0.3);
}

section#learn_rugby nav ul li:hover,
section#learn_rugby nav ul li.active,
aside#games nav ul li:hover,
aside#games nav ul li.active{
    background-color: rgba(255, 0, 0);
    color: #fff;
}

section#learn_rugby .rule-card{
    margin-top: 40px;
}

section#learn_rugby article{
    display:flex;
    padding: 20px 0;
}

section#learn_rugby .rule-card article p{
    align-self: center;
}

section#learn_rugby .rule-card article figure{
    width: 80%;
}

section#learn_rugby .rule-card article figure img{
    width: 100%;
}

section.game_card{
    padding: 20px 0;
    border-bottom: 5px rgba(255, 0, 0) solid;
}

section.game_card table,
section.game_card .highlight,
section.game_card .buy-ticket{
    width: 50%;
}

section.game_card .highlight img,
section.game_card .buy-ticket iframe{
    width: 100%;
    max-width: 500px;
}

form#contact-form{
    margin: 20px auto;
}

aside#contact li{
    margin-top: 10px;
}

input,
select[name="category"]{
    padding: 10px;
    margin: 10px 0;
}

aside#contact input{
    width: 35%;
}

select[name="category"]{
    width: 100%;
}

label{
    padding: 10px 0;
}

textarea{
    margin: 10px 0;
    width: calc(100% - 40px);
    resize: vertical;
    padding:15px;
    border-radius:15px;
    height:150px;
}

aside#contact input[type="submit"]{
    float: right;
}

section#subscription input{
    width: 30%;
    margin-right: 20px;
}

section#subscription ul{
    display: inline-block;
    position: relative;
    width: 20%;
}

section#subscription li{
    position:absolute;
    padding: 10px 0;
}


section#subscription li.area-label{
    display: block;
    padding: 10px 0;
}

.dropdown {
    position: relative;
    font-size: 14px;
    color: #333;
}

.dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform .15s ease-in-out .15s;
    max-height: 66vh;
    overflow-y: scroll;
  }
  
  .dropdown-option {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }

.dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
}

      
.dropdown-label:before {
    content: '▼';
    float: right;
}

.dropdown.on.dropdown-list {
       transform: scale(1, 1);
       transition-delay: 0s;
}

.dropdown.on.dropdown-list .dropdown-option {
    opacity: 1;
    transition-delay: .2s;
}

.dropdown.on.dropdown-list .dropdown-label:before {
    content: '▲';
}

.dropdown [type="checkbox"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
}

section#footer{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

#footer-nav{
    display: flex;
}

#footer-nav div{
    margin-right: 20px;
}